---
const { image, title } = Astro.props;
---

<div class="relative w-60">
    <img src={ image } alt={title} class="brightness-75">
    <h1 class="absolute bottom-2 left-2 max-w-40 text-3xl text-white font-light ml-2 mb-2">
        { title }
    </h1>
</div>