<section class="flex items-end px-30 py-20">
    <img src="/LoopStudios-landingpage/images/desktop/image-interactive.jpg" alt="interactive" class="w-150">
    <div class="px-8">
        <h1 class="text-5xl font-light mb-10">
            THE LEADER IN INTERACTIVE VR
        </h1>
        <p class="text-gray-500 font-semibold">
            Founded in 2011, LoopStudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their band.
        </p>
    </div>
</section>