<footer class="bg-black flex flex-col items-center w-160 h-auto py-15 md:flex-row md:w-full md:h-40 md:py-0">
    <div class="flex flex-col items-center mb-10 md:block md:w-1/2 md:pl-30 md:mb-0">
        <img src="/LoopStudios-landingpage/images/logo.svg" alt="logo" class="mb-10 md:mb-5">
        <nav>
            <ul class="flex flex-col items-center gap-3 md:flex-row">
                <li class="text-white font-semibold hover:underline">
                    <a href="#">About</a>
                </li>
                <li class="text-white font-semibold hover:underline">
                    <a href="#">Careers</a>
                </li>
                <li class="text-white font-semibold hover:underline">
                    <a href="#">Events</a>
                </li>
                <li class="text-white font-semibold hover:underline">
                    <a href="#">Products</a>
                </li>
                <li class="text-white font-semibold hover:underline">
                    <a href="#">Support</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="flex flex-col md:w-1/2 md:items-end md:pr-30">
        <nav>
            <ul class="flex justify-center gap-4 mb-5 md:justify-end">
                <li class="pb-1 hover:border-b-1 hover:border-white">
                    <a href="#">
                        <img src="/LoopStudios-landingpage/images/icon-facebook.svg" alt="facebook">
                    </a>
                </li>
                <li class="pb-1 hover:border-b-1 hover:border-white">
                    <a href="#">
                        <img src="/LoopStudios-landingpage/images/icon-twitter.svg" alt="twitter">
                    </a>
                </li>
                <li class="pb-1 hover:border-b-1 hover:border-white">
                    <a href="#">
                        <img src="/LoopStudios-landingpage/images/icon-pinterest.svg" alt="pinterest">
                    </a>
                </li>
                <li class="pb-1 hover:border-b-1 hover:border-white">
                    <a href="#">
                        <img src="/LoopStudios-landingpage/images/icon-instagram.svg" alt="instagram">
                    </a>
                </li>
            </ul>
            <p class="text-gray-500 font-semibold">
                © 2021 LoopStudios. All rights reserved.
            </p>
        </nav>
    </div>
</footer>