<footer class="bg-black flex items-center h-40">
    <div class="w-1/2 pl-30">
        <img src="/LoopStudios-landingpage/images/logo.svg" alt="logo" class="mb-5">
        <nav>
            <ul class="flex gap-3">
                <li class="text-white font-semibold"><a href="#">About</a></li>
                <li class="text-white font-semibold"><a href="#">Careers</a></li>
                <li class="text-white font-semibold"><a href="#">Events</a></li>
                <li class="text-white font-semibold"><a href="#">Products</a></li>
                <li class="text-white font-semibold"><a href="#">Support</a></li>
            </ul>
        </nav>
    </div>

    <div class="w-1/2 flex flex-col items-end pr-30">
        <nav>
            <ul class="flex justify-end gap-4 mb-5">
                <li><img src="/LoopStudios-landingpage/images/icon-facebook.svg" alt="facebook"></li>
                <li><img src="/LoopStudios-landingpage/images/icon-twitter.svg" alt="twitter"></li>
                <li><img src="/LoopStudios-landingpage/images/icon-pinterest.svg" alt="pinterest"></li>
                <li><img src="/LoopStudios-landingpage/images/icon-instagram.svg" alt="instagram"></li>
            </ul>
            <p class="text-gray-500 font-semibold">
                © 2021 LoopStudios. All rights reserved.
            </p>
        </nav>
    </div>
</footer>