---
import Navbar from "./Navbar.astro";
import Announce from "./Announce.astro";
---

<div class="bg-[url(/LoopStudios-landingpage/images/desktop/image-hero.jpg)] bg-center bg-cover h-200 w-160 p-10 md:h-160 md:w-fit md:px-30 md:py-20">
    <Navbar />
    <Announce />
</div>