---
import Navbar from "./Navbar.astro";
import Announce from "./Announce.astro";
---

<div class="bg-[url(/LoopStudios-landingpage/images/desktop/image-hero.jpg)] h-160 px-30 py-20">
    <Navbar />
    <Announce />
</div>