<header class="flex justify-between mb-30">
    <img src="/LoopStudios-landingpage/images/logo.svg" alt="logo">
    <nav>
        <ul class="flex gap-10">
            <li class="text-white font-semibold">About</li>
            <li class="text-white font-semibold">Careers</li>
            <li class="text-white font-semibold">Events</li>
            <li class="text-white font-semibold">Products</li>
            <li class="text-white font-semibold">Support</li>
        </ul>
    </nav>
</header>