<header class="flex justify-between mb-30">
    <img src="/LoopStudios-landingpage/images/logo.svg" alt="logo">
    <nav>
        <ul class="flex gap-10">
            <li class="text-white font-semibold hover:underline">
                <a href="#">About</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Careers</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Events</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Products</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Support</a>
            </li>
        </ul>
    </nav>
</header>