<header class="grid grid-cols-2 mb-50 md:flex md:justify-between md:mb-30">
    <img src="/LoopStudios-landingpage/images/logo.svg" alt="logo">
    <button class="w-full flex justify-end md:hidden">
        <img src="/LoopStudios-landingpage/images/icon-hamburger.svg" alt="burger-menu">
    </button>
    <nav>
        <ul class="hidden md:flex md:gap-10">
            <li class="text-white font-semibold hover:underline">
                <a href="#">About</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Careers</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Events</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Products</a>
            </li>
            <li class="text-white font-semibold hover:underline">
                <a href="#">Support</a>
            </li>
        </ul>
    </nav>
</header>